.TaskPanel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
}

.ObjectiveList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}